@charset "utf-8";
/* CSS Document */

img.responsive{ width:100% !important; height:auto; display: block;}

@media screen and (max-width: 667px) {
	*{-webkit-font-smoothing: antialiased ;}
	input[type=text], input[type=email], textarea, button{ -webkit-appearance: none; }
	header{ height:auto;}
	h2{  margin: 0 0 .5em 0;}
	.aboutSec h2{ font-size:54px;}
	.contact h2{ font-size:46px;}
	.banner{ background-position:top; background-attachment: inherit;}
	.banner .descSec .desc{ font-size:14px; line-height:18px; width:100%;}
	header .logo a img{}
	header .logo a{   font-size: 75%;}
	.banner .descSec .greylogo img{ width:25%; height:auto;}
	.container, #overlay .overlaySec .container{ width:100%; padding: .5em 2.3em;}
	.aboutSec .contentSec .skills > div{ width: 50%; text-align:center;}
	.aboutSec .contentSec .skills > div div{ display:block;}
	.aboutSec .contentSec .skills > div+div{ margin:0;}
	.aboutSec .contentSec, .aboutSec .contentSec .aboutme, .aboutSec .contentSec .callout{ width:100%;}
	.timeline h5{ line-height:30px;}
	.timeline .timeframe .project{ position:relative; padding:100px 0 0 0;}
	.timeline .timeframe .project:before{ content:none;}
	.timeline .timeframe .project{ margin-top:6%;}
	.timeline .timeframe .project .time{ top:0; margin-top: 0;}
	.timeline .timeframe .project .time:before{   content: ''; position: absolute; height: 140%; width: 1px; border-right: 1px dashed #969696; left: 50%; top: -30%; z-index: -1;}
	.timeline .timeframe .project .desc{ width:100%; text-align:center;}
	.timeline .timeframe:after{ content:none;}
	.timeline .timeframe .project .desc h6{ display:inline-block;}
	.timeline .timeframe .project .desc h6 i{ float:left; margin:0 4px 0 0;}
	.process .processframe{ background:none;}
	.process .processframe .frame, .process .processframe .frame:last-child{ width:100%; margin:1em 0 0 0 !important; display:inline-block;  position: static;}
	.process .processframe{ margin:3.5em 0;}
	.timeline { padding-bottom:0em;}
	.portfolio #Container{ text-align:left;}
	.portfolio #Container .mix{ width:48%;}
	header nav ul li{ width:100%;}
	header nav{ padding:0;}
	.nav-collapse.disable-pointer-events {pointer-events: none !important;}
	.nav-collapse {	z-index: 1;}
	.js .nav-collapse { clip: rect(0 0 0 0); max-height: 0; position: absolute; display: block; overflow: hidden;}
	.nav-collapse {	max-height: 9999px;	width: 100%;}
	.nav-toggle {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	-webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none;	-ms-user-select: none; -o-user-select: none; user-select: none;	width: 70px; height: 55px; float: right; text-indent: -9999px; overflow: hidden; display: block;}
	#toggle { display: block; background: #ED4844 url(../images/hamburger.gif) no-repeat center; width: 50px; height: 50px;	border: 1px solid rgb(35, 37, 37); text-indent: -9999px; margin: 2.5% 0; border-radius: 50%;}
	.nav-collapse ul{ padding:2% 0;}
	.nav-collapse li{ width:100%;}
	.nav-collapse li a{ margin:0 auto; width:auto; padding:2.4%; display:inline-block;}
	.nav-collapse span{ display:none;}
	.banner{border-top: 1px solid #bebdbd; box-shadow: 0px 0px 8px 0px #d6d4d4;}
	.aboutSec .avatarSec{ width:100%;}
	.aboutSec .avatarSec .avatar{ margin:0 auto;}
	.portfolio .controls{ display:none;}
	.portfolio .selectcontrol{ display:block; margin: 5%;}
	.portfolio .selectcontrol select{width: 100%; line-height: 45px; height: 45px; background:#353535; border: none; padding: 0 2%; color: #aeaeae; outline:0;}
	.portfolio #Container .mix:before, .portfolio #Container .mix:after{ content:none;}
	.contact .form,.contact .form form{ width:100%;}
	
	.contact .form ul li{ display:block;}
	.contact .form ul.social li{ display:inline-block;}
	.contact .form ul li + li{ margin:3% 0 0 0;}
	.contact .form footer .social{ margin:3% 0 0 0;}
	.col-2 .screenshot,#overlay .overlaySec .screenSec.center{ width:100%;}
	
	.imac{ width: 100%; margin: 0 auto;}
	#overlay .overlaySec .screenSec{ position:static; width: 100%;}
	#overlay .overlaySec .hgroup h2 {font-size: 1em; padding: 3% 0;}
	#overlay .overlaySec h3 {font-size:.8em;}
	.rightcol .screens,.rightcol aside{ width:100%;}
	.contact .form footer:after{ content:none;}
	.aboutSec .contentSec .interests ul li{ width:100%}
	.aboutSec .contentSec .interests ul li + li{ margin:2% 0 0 0;}
	.copyright{ padding:15px 0;}
	#overlay{ height:calc(100% - 102px); top:102px; margin:0;}
	.col-3 .screenshot, #overlay .overlaySec .col-2 .screenshot { width:100%;}
	.screens .rslides_container .rslides_nav.prev{ left:14px; width: 28px; top:43%}
	.screens .rslides_container .rslides_nav.next{ right:14px; width: 28px; top:43%}
	.screens .rslides_container{ width:100%;}
}
	
	
@media screen and (min-width: 668px) and (max-width: 979px) {
	*{-webkit-font-smoothing: antialiased ;}
	input[type=text], input[type=email], textarea, button{ -webkit-appearance: none; }
	.banner{ background-position:top; background-attachment: inherit;}
	header{ text-align:center;}
	header .logo{ padding:0;}
	header nav{ padding:28px 0 10px 0;}
	header .logo,.js .nav-collapse{ float:none;	}
	.banner .descSec .desc{ width:100%;}
	.js .nav-collapse{   max-height: inherit !important;}
	header{ height:auto;}
	.container,#overlay .overlaySec .container{ width:100%; padding: .5em 2.5em;}
	.process .processframe .frame.pull-left { margin-left: 0%;}
	.process .processframe .frame.pull-right { margin-right: 0%;}
	.process .processframe .frame{ width: 45%;}
	.aboutSec .contentSec{ padding:0 0 0 2em}
	.aboutSec .contentSec .aboutme{ width:100%;}
	.portfolio .imageGallery a{ width:50%;}
	.aboutSec .avatarSec .avatar{ width:100%; height:auto;}
	.aboutme h2{ width:310px;}
	.aboutSec .contentSec .callout{ width:100%;}
	.aboutSec .contentSec .skills > div{ width: 33%; }
	.portfolio #Container{text-align:left;}
	.portfolio #Container .mix{ width:48%; }
	.portfolio .controls button + button{ margin:0;}
	.aboutSec .contentSec .skills > div+div{ margin:0;}
	.contact .form .intouch ul.touch li{margin:1em 0; display:inline-block; width:100%;}
	.contact .form{ width:85%;}
	.contact .form form{ width:60%;}
	.contact .form footer .social{ margin:3% 0 0 0;}
	.imac{ width:80%; margin:0 auto;}
	header nav ul span{ display:none;}
	#overlay .overlaySec .hgroup h2{ font-size:1.8em;}
	.rightcol .screens,.rightcol aside{ width:100%;}
	.contact .form footer:after{ content:none;}
	#overlay{ height:calc(100% - 136px); top:136px; margin:0;}
	.screens .rslides_container .rslides_nav.prev{ left:24px; top:42%;}
	.screens .rslides_container .rslides_nav.next{ right:24px; top:42%;}
	.col-3 .screenshot { width:100%;}
	.aboutSec{ padding-top:18.5%;}
	#portfolio, #timeline, #contact{ padding-top:16.5%;}
	.copyright{ padding:15px 0;}
}
